@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200) ;
#happySkate{

  color: rgb(255, 255, 255);
}
.cart{
  display: flex;
  color: rgb(255, 255, 255);
}
.cart p{
  background-color: rgb(240, 0, 0);
  border-radius: 25px;
}
.nav{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.nav a{
  color: rgb(0, 0, 0);
  padding: 4px;
  margin: 4px;
}
  

header{
  background-color: #90acbe;
}
body{
  background-color: #256d9c;
}
footer{
  display: flex;
  justify-content: center;

    background-color: #075285;
}

.contador {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.botonesCard {
  display: flex;
  align-items: center;
  gap: 10px;
}

.boton {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.cantidad {
  font-size: 1.5rem;
  margin: 0;
}

.agregar {
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.active{
  background-color: #28a745;
  border-radius: 5px;
}
.presentacional {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
  background-color: white;
}

.card h2 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.card img {
  
  max-width: 80%;
  height: 200px;
  object-fit: contain;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader img {
  width: 50px; 
  height: 50px; 
  animation: spin 3s linear infinite; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}